<div class="introflex">
<div class="intro">Welcome to the TechBook! 
  <div class="break"></div>
  <div class="introbody">This is a Website dedicated to current news about Technology. 
  You will see a a combination of: News articles, Reviews, Blogs, Videos, Magazines and Podcasts about current trending Technologies.
  If this is your first time here, Plesae check out Rules for posting and RESPECT policies
 </div>
  <div class="break"></div>
    <a href="##"> 1. Rules for posting</a><a href="##">2. RESPECT Policy</a>
  </div>
 
</div>

<div class="homepageflex">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</div>