<div class="introflex">
<div class=" introcard card text-white bg-dark mb-3" >
  <div class="card-header">
    <div class="intro">Welcome to The TechBook!</div></div>
  <div class="card-body"> 
    <p class=" introbackdrop card-text">This is a Website dedicated to current news about Technology. 
  You will see a a combination of: News articles, Reviews, Blogs, Videos, Magazines and Podcasts about current trending Technologies.
  If this is your first time here, plesae check out Rules for Posting and RESPECT policies</p>
 </div>
  <div class="break firsttimedoc">
    <a href="##"> 1. Rules for Posting</a><a href="##">2. RESPECT Policy</a>
  </div>
  </div>
</div>


<div class="homepageflex">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</div>