
<div class="welcomebanner">Welcome!</div>
<div class="signininstructions">Please Sign in</div>



<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class=" buttonspots btn btn-primary" type="submit">login</button>
  </div>
</form>

<div class="signininstructions2">Or Sign up!</div>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="buttonspots btn btn-primary" type="submit">sign up</button>
  </div>
</form>


<script src="/javascript/login.js"></script>