:root{
    --primary-color: white;
    --background-color: darkblue !important;
    --tertiary-color:yellow;
}
.nomar{
    margin: 0 !important;
    padding: 0 !important;
}


.break{
    margin-top: 20px;
}

li{
    margin-bottom: 30px; /*distance between each post*/
}

li::marker{
    font-size: 20px;
}


.mainflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:  url("https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-tech-business-light-banner-background-image_209671.jpg");
    background-size: cover;
    height: 300px;
}

.mainicon{
    background-image: url("../assets/images/blue_book.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    margin-top:  6px;
    margin-right: 5px;
}

.maintitle{
    font-size: 38px;
    color: rgb(0, 162, 255);
    margin-top: 45px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
}

a{
    color: var(--primary-color);;
    text-decoration: none; 
   
}

a:hover{
    color: var(--tertiary-color);;
    text-decoration: none;
}

.dashicon{
    background-image: url("../assets/images/dashboard.png");
    background-size: cover;
    height: 35px;
    width: 35px;
 

}

.loginbutton{
    color: var(--primary-color);;
    margin-left: 480px;
    margin-top: 10px;
}

.logoutbutton{
    background-color: #ffc107 !important;
    color: var(--primary-color) !important;
    margin-left: 10px;
    margin-top: 10px;
    width: 90px;
    height: 45px;
    border-radius: 19px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    font-family: 'Share Tech Mono', monospace;


}

.logoutbutton:hover{
    background-color: var(--secondary) !important;
}

.dashflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
    font-size: 20px;
    margin-top: 1%;
}

.welcomebanner{
    font-size: 38px;
    color: rgb(0, 162, 255);
    font-weight: bold;
    margin-left: 5px;
}

.signininstructions{
    font-size: 25px;
    color: rgb(0, 162, 255);
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.signininstructions2{
    font-size: 38px;
    font-weight: bold;
    color: rgb(0, 162, 255);
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.signup-form{
    margin-left: 20px;
    
}

.login-form{
    margin-left: 20px;
    
}

.buttonspots{
    margin-left: 125px;
}

.homepageflex{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--tertiary-color);;
}




/*Dashboard*/

.dashboard{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flexheader{
    display:flex;
    flex-direction: column;
}


/* Create new Post CSS */

.newpostflex{
    display: flex;
    justify-content: center;
}

.newposttitle{
    font-weight: bold;
    color: rgb(0, 162, 255);
}

.createpost{
    margin-left: 80px;
}

/* Edit Post*/
.editpostflex{
    display: flex;
    flex-direction: column;
    
}

.edittitle{
    color: rgb(0, 162, 255);
}

ol{
    width: 50%;
}

/*homepage*/
.posttitle{
    font-size: 20px;
    border-bottom-style: solid ;
    border-bottom-color: palegoldenrod ;
    border-bottom-width: 5px;
}

.postlink{
    font-size: 26px;
}

/* comment */
.singlecommentedit{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


/* Intro*/

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);;
    font-size: 50px;
    margin-top: 25px;
}

.introflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-color);
    font-family: 'Share Tech Mono', monospace;
}

.introbody{
    margin-left: 400px;
    margin-right: 400px;
}

.title{
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    margin-bottom: 10px;
}

.dashlinktext{
    font-size: 25px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    margin-left: 5px;
    
}

.introcard{
    width: 40% !important;
    margin: 20px;
}

.introbackdrop{
    color: var(--primary-color);
    font-size: 25px;
    font-size: 25px;
}

.firsttimedoc{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}

.postbutton{
    font-size: 25px;
}

.postbutton:hover{
    color: yellow;
}

.postinfoflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leadsto{
    color: var(--tertiary-color);
    font-size: 20px;
}

.commentbutton{
    width: 173px;
    height: 40px!important;
    font-size: 20px;
    margin-bottom: 15px;  
    font-weight: bold;
}

.commentbutton:hover{
    background-color: yellow;
    color: black;
}